# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

#
/Tools/FreeTypeTest/outputpng/
/Tools/FreeTypeTest/Release/
/Tools/FreeTypeTest/Debug/
/Libs/freetype-2.6.2/builds/
/Libs/freetype-2.6.2/docs/
/Libs/freetype-2.6.2/src/
/Libs/PowerVR/
/ipch/
/CLR/
/Test/Android/TestEntry/bin/
/Test/Android/TestEntry/obj/
/Test/Android/TestEntry/libs/

*.Cache

*.a
*.o
*.o.d
*.zip
*.sdf
Debug/
Release/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
CFL.opensdf
*.suo
*.log
Test/Win32/TestEntry/CLR/TestEntry.log
*.a
*.ttf
Tools/FreeTypeViewer/HIMALAYA.ff
*.ff
